body{
    font-family: 'Trebuchet MS';
    
}



li.navbar-item{
    display: inline;
    float: left;


    text-decoration: none;
}

li.navbar-item:hover{
    background-color: #006696;
}

div.navbar{
    margin: auto;
    width: 50%;
}

/*#navWrap{
    width: 100%;
    letter-spacing: 2px;
    position: fixed;
}
*/
ul#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: auto;
}
ul#nav li{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

#home{
   background-image: url("/Images/Field.JPG");
   background-size: 100%;
}
/*PROFILE PICTURE*/
img.profile{
    height:400px;
    width: 400px;
    border-radius: 50%;
}